.places {
    width: 987px;
    margin: 92px 0;
    display: flex;
    row-gap: 80px;
    flex-direction: column;
}

@media screen and (max-width: 1140px) {
    .places {
        width: 720px;
        row-gap: 40px;
        margin-bottom: 42px;
    }
}

@media screen and (max-width: 607px) {
    .places {
        margin-top: 62px;
    }
}

@media screen and (max-width: 765px) {
    .places {
        row-gap: 20px;
        width: 320px;
        height: fit-content;
    }
}

