.place__image {
    width: 460px;
    grid-area: image;
}
@media screen and (max-width: 1140px) {
    .place__image {
        width: 340px;
        height: 340px;  
      }
}

@media screen and (max-width:765px) {
    .place__image {
        width: 320px;
        height: 320px;
    }
}

@media screen and (max-width: 765px) {
    .place__image {
        margin-bottom: 0;
    }
}