.lead {
    max-width: 984px;
    max-height: auto;
    background-color: #2A2C2F;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 989px) {
    .lead {
        height: 1025px;
    }
}

@media screen and (max-width: 900px) {
    .lead {
        height: 900px;
    }
}

@media screen and (max-width: 800px) {
    .lead {
        height: 925px;
    }
}

@media screen and (max-width: 690px) {
    .lead {
        height: 875px;
    }
}

@media screen and (max-width: 556px) {
    .lead {
        height: 800px;
    }
}

@media screen and (max-width: 541px) {
    .lead {
        height: 410px;
        margin-top: 50.89px;
    }
}




