.button__paragraph {
    width: 315px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

@media screen and (max-width: 765px) {
    .button__paragraph {
        font-size: 14px;
        line-height: 16.94px;
        height: 17px;
        width: 245px;
    }
}
