.cover {
    width: 90vw;
    height: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 92px;
    background-image: url(/images/__background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cover:hover {
    color: #2A2C2F;
    opacity: 0.3;
}

@media screen and (max-width: 1188px) {
    .cover {
        background-image: url(/images/__background.png);
        width: 100vw;
        min-width: 320px;
        max-height: 746px;
        background-size: auto;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        background-image: url(/images/__background.png);
        height: 254px;
        width: 320px;
        margin-bottom: 64px;
        background-size:cover;
    }
}