.place {
    display: grid;
    grid-template-areas: 
        "title website"
        "image content"
        "button .";
        row-gap: 48px;
    width: 984px;
    grid-template-columns: repeat(2, 492px);
    align-self: end;
}



@media screen and (max-width: 1140px) {
    .place {
        height: 650px;
        width: 720px;
        grid-template-columns: repeat(2, 355px);
        justify-content: space-between;
        align-content: flex-start;
        row-gap: 24px;
    }
}



@media screen and (max-width: 765px) {
    .place {
        width: 320px;
        height: fit-content;
        display: grid;
        grid-template-areas: 
            "title" 
            "website"
            "image" 
            "content"
            "button";
        justify-content: space-between;
        row-gap: 0;
    }
}

