.place__website {
    grid-area: website;
    align-self: end;
    width: fit-content;
    margin-left: 6px;
}

@media screen and (max-width: 1140px) {
    .place__website {
        min-height: 89px;
        margin-left: 0;
    }
}

@media screen and (max-width: 765px) {
    .place__website {
        min-height: fit-content;
        width: fit-content;
        margin: 0 16px 30px 16px;
    }
}