.group9__subtitle3 {
    width: 280px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 767px) {
    .group9__subtitle3 {
        width: 280px;
        height: 16px;
        font-size: 14px;
        line-height: 16px;
        margin: 0 auto 0 auto;
    }
}