.place__title-berea {
    width: 700px;
    margin-bottom: -31px;
}

@media screen and (max-width: 1140px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 46px;
        height: 46px;
        width: 340px;
    }
}

@media screen and (max-width: 765px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        max-height: fit-content;
        margin: 0 16px 30px 16px;
    }
}