.place__artist {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 1140px) {
    .place__artist {
        width: 352px;
    }
}

@media screen and (max-width: 765px) {
    .place__artist {
        width: 288px;
    }
}